.leader-board-background-container{
    display: flex;
    flex-direction: column;
    background-image: url('../../images/Screenshot 2023-09-10 123042.jpg');
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    overflow-y: scroll;
    .leader-board-heading{
        margin-top: 110px;
        font-size: 38px;
        font-weight: 600;
    }
    .leader-board-items{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding-inline-start: 0;
        width: 60%;
        li{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            border: 1px solid rgb(43, 43, 43);
            padding: 0.5rem;
            cursor: pointer;
            background-color: rgba(54, 54, 54, 0.788);
            border: 2px solid rgba(202, 202, 202, 0.776);
            border-radius: 22px;
            color: aliceblue;
            box-shadow: 5px 5px 22px rgb(35, 35, 35);
            img{
                height: 120px;
                border-radius: 22px;
            }
            h1{
                font-size: 26px;
            }
        }
        .selected{
            background-color: rgba(185, 185, 185, 0.849) !important;
            color: rgb(44, 44, 44) !important;
            border: 2px solid rgb(29, 29, 29) !important;
        }
    }
}

@media screen and (max-width: 920px) {
    .leader-board-items{
        width: 90vw !important;
        h1{
            font-size: 22px !important;
        }
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.leader-board-background-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.leader-board-background-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
